.board {
  margin: 2rem auto 0;
}

/* Board lines styles ------------------- */
.boardline {
  display: flex;
  justify-content: center;
}

/* Plots styles ------------------- */

.plot {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 3px;
  border: var(--b-border);
  font-size: 4rem;
  line-height: 5rem;
}
.alive {
  background-color: var(--c--color);
}
@media (max-width: 1024px) {
  .plot {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2px;
  }
}
@media (max-width: 640px) {
  .plot {
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 1px;
  }
}
