.golform {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: auto;
}
.golform * {
  margin: 1rem 0;
}

/* input styles ------------------- */

input {
  text-align: center;
  background-color: var(--c--background);
  color: var(--c--color-light);
  border: var(--b-border);
  border-radius: 5px;
  font-size: 3rem;
  width: 20rem;
  transition: 0.3s;
}
.golform label {
  position: relative;
}
.infobulle {
  background-color: var(--c--button);
  position: absolute;
  top: 80%;
  left: 20%;
  z-index: 10;
  padding: 0 2rem;
  visibility: hidden;
  color: var(--c--color-light);
  border: 1px solid var(--c--color-light);
}
label:hover .infobulle {
  visibility: visible;
}
input:hover,
select:hover {
  border: var(--b-border-light);
  box-shadow: inset 2px 2px 12px var(--c--color-light);
}
input::placeholder {
  color: greenvar(--c--color);
}
input:invalid {
  background-color: goldenrod;
  color: red;
}

/* select styles ------------------- */
select {
  background-color: var(--c--background);
  color: var(--c--color);
  font-size: 3rem;
  border-radius: 5px;
  border: var(--b-border);
}
option {
  color: var(--c--color-light);
  font-size: 2.5rem;
  background-color: var(--c--background);
  text-align: center;
}

/* Input Submit styles ------------------- */

button[type="submit"] {
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .golform {
    grid-template-columns: 30rem 30rem;
  }
  label {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .golform {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 15rem 30rem;
    grid-template-rows: auto;
  }
  label {
    font-size: 2rem;
  }
  input {
    border-radius: 2px;
    font-size: 2rem;
    width: 20rem;
    transition: 0.3s;
    padding: 0.2rem;
  }

  input:hover,
  select:hover {
    border: var(--b-border-light);
    box-shadow: inset 2px 2px 12px var(--c--color-light);
  }
  select {
    font-size: 2rem;
    border-radius: 2px;
    max-width: 150px;
  }
  button[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }
}
